.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  padding-top: 50px;
}

.loader p {
  margin: 0;
}

.loader__circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -25px;
  animation: rotate 1s linear infinite;
  border: 6px solid lightgray;
  border-top-color: darkgrey;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
